<h2>Quem somos?</h2>
<p>
  Somos uma empresa de pesquisa de receitas culinárias mundial, referência no ramo.
</p>
<hr>
<h2> Qual nosso objetivo?</h2>
<p>
  Nosso maior objetivo é fazer você um verdadeiro chefe de cozinha, dando a referência e a receita ideal 
  para qualquer ocasião.
</p>
<hr>
<h2>Você vai pagar para usar?</h2>
<p>
  Esse é o segredo, você não irá gastar um centavo. Você irá economizar produzindo e se quiser ganhar dinheiro 
  venderá tudo que conseguir produzir de forma brilhante.
</p>
<hr>
<h2>Como usar a plataforma?</h2>
<p>Simples como cada receita, você irá fazer buscas ou navegar pelo site.
</p>

<p>
  Econtrando o que deseja é só clicar no link da receita.
</p>

<p>
  Depois é só convidar os amigos e a familia e surpreender a todos. Bom apetite.
</p>